<div class="home" *ngIf="displayPage == 'home'">
    <h1>Welcone to Online Form</h1>
    <form>
        <label>Name</label>
        <input type="text" [(ngModel)]="resource.name" name="name"/>
        <label>Course type</label>
        <select [(ngModel)]="resource.courseType" name="courseType">
            <option>Full stack</option>
            <option>Front End</option>
            <option>Back end </option>
        </select>
        <label>Joining Date</label>
        <input type="date" [(ngModel)]="resource.date" name="date">
        <label>Mobile</label>
        <input type="text" [(ngModel)]="resource.mobile" name="mobile">
        <label>Email</label>
        <input type="email" [(ngModel)]="resource.email" name="email" />
        <button type="button" (click)="getValue()">Submit</button>
        <button type="reset">Reset</button>
    </form>
    <!-- <table>
        <thead>
            <tr>
                <td>S.No</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of arr">
                <td>{{data}}</td>
            </tr>
        </tbody>
    </table> -->
    <!-- <pre>{{arrResource | json}}</pre> -->
    <table border="1" style="width:100%;margin-top:50px;">
        <thead>
            <tr>
                <td>Name</td>
                <td>Course type</td>
                <td>Joing Date</td>
                <td>Mobile</td>
                <td>Email</td>
                <td>Action</td>
                <td>JSON</td>
            </tr>
        </thead>
        <tbody *ngIf="arrResource.length > 0">
            <tr *ngFor="let data of arrResource">
                <td>{{data.name}}</td>
                <td>{{data.courseType}}</td>
                <td>{{data.date}}</td>
                <td>{{data.mobile}}</td>
                <td>{{data.email}}</td>
                <td><a (click)="sendData(data)">Edit</a> / <a (click)="deleteItem(data)">Delete</a></td>
                <td>{{data | json}}</td>
            </tr>
        </tbody>
        <tbody *ngIf="arrResource.length == 0">
           <tr>
            <td colspan="7">No data found</td>
           </tr> 
        </tbody>
    
    </table>
    </div>